* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

span {
  color: gray;
}

li {
  list-style-type: none;
  padding-bottom: 5px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding-left: 10px;
}

.nav-link {
  color: black;
  font-size: 20px;
  transition: color 0.5s;
}

.nav-link:hover {
  color: gray;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
}

.section {
  width: 50%;
}

.section__left-side {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.section__right-side {
  padding-left: 100px;
  margin: 0 auto;
}

.section__content {
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 20px;
}

.photo {
  max-width: 80%;
  margin-top: 20px;
}

.section__name {
  font-size: 40px;
  text-align: center;
}

.section__title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.section__about {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  border-bottom: 2px solid white;
}

.section__contact {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
}

.section__contact__link {
  color: gray;
  transition: 0.5s;
}

.section__contact__link:hover {
  color: white;
}


.section__right-side__block {
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.section__title-small {
  font-size: 20px;
  font-weight: 400;
}

.section__right-side__link {
  color: gray;
  transition: 0.5s;
}

.section__right-side__link:hover {
  color: black;
}

.footer {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

}

.icon {
  padding-right: 30px;
}

.year {
  color: black;
  font-size: 50px;
}

.icon-linkedin {
  width: 13%;
}

.icon-rss {
  width: 36%;
}

@media screen and (max-width: 1260px) {
  .nav-list {
    display: flex;
    justify-content: center;
  }

  .main {
    flex-direction: column;
  }

  .section__right-side {
    padding-left: 0;
  }

  .footer {
    justify-content: center;
    margin: 0 auto;
  }
}